body
{
    background: linear-gradient( goldenrod 50%, darkgoldenrod 100%);
}

h1
{
    color:darkgoldenrod;
    background-color:blanchedalmond;
}

#show_sketch
{
  float: right;  
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px whitesmoke;}
}

p
{
    padding-top: 30px;
    font-size: 25px;
}